@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .fs {
        font-size: 12px;
    }

    #logindiv {
        width: 380px;
        height: 700px;
        /*overflow: hidden;*/
        margin-left: 33%;
        margin-top: 3%;
        /*margin: 20 0 0 450px;*/
        padding: 70px;
        background-image: linear-gradient(to right,#A2ECE6,#24B3A8,#1D8D84);
        border-radius: 15px;
    }
    input:hover[type="submit"] {
        border-radius: 20%;
        border: none;
        border-color: bisque;
        background-color: antiquewhite;
    }

    input.slide-hover-left-1 {
        background-image: linear-gradient(0, #156760, #156760);
        background-size: 0;
        transition: .8s;
        background-repeat: no-repeat;
    }

        input.slide-hover-left-1:hover {
            background-size: 100%;
            color: #fff;
        }

    button:hover[type="submit"] {
        border-radius: 20%;
        border: none;
        border-color: bisque;
        background-color: antiquewhite;
    }

    button.slide-hover-left-1 {
        background-image: linear-gradient(0, #156760, #156760);
        background-size: 0;
        transition: .8s;
        background-repeat: no-repeat;
    }

        button.slide-hover-left-1:hover {
            background-size: 100%;
            color: #fff;
        }
</style>
<div class="justify-content-center" id="logindiv">
    <h5 style="text-align: center; color: #A2ECE6; font-size: 40px; ">Card Payment</h5>
    <i class="fa fa-credit-card" style="font-size: 70px; color: black; margin-left:30%"></i>
    
    
    <form method="post" asp-action="Paymentsuccess" asp-controller="Payment">
        <div class="form-group">
            <label class="control-label" style=" color: white;">Card type</label>
            <select class="form-control">
                <option>Debit Card</option>
                <option>Credit Card</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" style="color:white;">Card no</label>
            <input type="text" class="form-control" inputmode="numeric" @*pattern="/^(?:[0-9]{16})$/"*@ autocomplete="cc-number" maxlength="16" placeholder="xxxx xxxx xxxx xxxx" required>
        </div>
        <div class="form-group">
            <label class="control-label" style="color:white;">Exp Month and Year</label>
            <input type="month" class="form-control" required />
        </div>
        <div class="form-group">
            <label class="control-label" style="color:white;">CVV</label>
            <input type="password" class="form-control" maxlength="3" required />
        </div>
        <center><button type="submit" class="btn btn-primary slide-hover-left-1 " style="background-color: #1D8D84; border: none; margin-top: 5%; color: white" onclick="return confirm ('Congratulations! Your order has been placed');"> Pay  </button></center>
    </form>
    <div>

        <center><a asp-action="Payment" asp-controller="Payment">
    <button class="btn btn-primary slide-hover-left-1" style="background-color: #1D8D84; border: none;  margin-top: 5%; color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
        </svg> Back
    </button>
</a></center>
        
        @*<a onclick="location.href='@Url.Action("CancelOrder", "Order")'"><button class="btn btn-primary" style="background-color: #156760;border:none;padding:7px 30px;color:white" onclick="return confirm ('Congratulations!, Your order placed!');">Place Order</button></a>
        <a onclick="location.href='@Url.Action("Cartdetails", "Prod")'"><button class="btn btn-primary" style="background-color: #156760;border:none;padding:7px 30px;color:white">Back</button></a>*@
    </div>
 </div>