@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron col-md-6" style="background-image: linear-gradient(to right,#A2ECE6,#24B3A8,#1D8D84); margin-left: 350px;">
    <h4 style="color: #A2ECE6;text-align:center">Hello @ViewBag.Username!!</h4>
    <br />
    <h6 style="color: white;text-align:center" "> Your cart is emptyy!!!</h6>
</div>